<div class="marquee-wrap">
    <div class="marquee-content">
        <span style="font-family: var(--font-heading); font-size: 4rem; margin-right: 50px;">INDUSTRIAL CONSTRUCTION •
            PRE-ENGINEERED STEEL • INFRASTRUCTURE • ELECTRICAL & PCCC • MEP SOLUTIONS • </span>
        <span style="font-family: var(--font-heading); font-size: 4rem; margin-right: 50px;">INDUSTRIAL CONSTRUCTION •
            PRE-ENGINEERED STEEL • INFRASTRUCTURE • ELECTRICAL & PCCC • MEP SOLUTIONS • </span>
    </div>
</div>
